
.container-header{
    grid-area: header;
}

.container-nav{
    grid-area: menu;
}

.container-main{
    grid-area: main;
}

.container-aside{
    grid-area: right;
}

.container-footer{
    grid-area: footer;
}

.grid-container{
    display: grid;
    grid-template-areas: 
    'header header header header'
    'main main right menu'
    'footer footer footer footer'
    ;
    gap: 10px;
    background-color: rgb(96, 175, 185);
    padding: 10px;
}

.grid-container > *{
    background-color: rgba(26, 31, 32, 0.8);
    text-align: center;
    color: azure;
    padding: 20px 0;
    font-size: 30px;
    height: 400px;
}